
article{
	text-decoration:none;
	border-collapse: collapse;
	border-radius:5px;
}


#name {
	padding-top:10px;
	padding-left:20px;
	height:40px;


}
#medium {
	font-style: italic;
	font-size:20px;
	margin-left:25px;
	height:20px;


}
#description {
	display:table-cell;
	vertical-align:middle;
	font-size:20px;
	padding:30px;
	height:100%;
}






