*{
border-collapse: collapse;	

}
table{
	height:172px;
	width:50%;
	margin:0px;
	border-radius:50px;
}
a{
	border-radius:
	text-decoration:none;
	font-size:40px;	
	color:white;

}
#copy *{
	font-family:sans-serif;
	
	padding-left:20px;
}

#copy {


}

h2{
	height:56px;
	padding-top:10px;
	margin:0px;
	background-color:black;
	border-collapse: collapse;
}
img{
	height:186px;




	
}
article{
	margin: 10px;

}

p{
	width:50%;
	display:table-cell;
	font-size:20px;
	height:124px;
	padding-top:10px;
	padding-left:30px;
	background-color: rgba(255,255,255,0.6);
}






